force-app/main/default/flows/Assign_Account_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Owner_to_Kristin</name>
        <label>Assign Owner to Kristin</label>
        <locationX>4538</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Kristin_Shunk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_silva</name>
        <label>Assign Owner to silva</label>
        <locationX>4802</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Kurt_Silva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns to custom label for user Alex Jaroshevich.</description>
        <name>Assign_to_Alex_Jaroshevich</name>
        <label>Assign to Alex Jaroshevich</label>
        <locationX>3482</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Alex_Jaroshevich</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Beth_Mitchell</name>
        <label>Assign to Beth Mitchell</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Beth_Mitchell</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Brian_Sobocinski</name>
        <label>Assign to Brian Sobocinski</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Brian_Sobocinski</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Daron_Mills</name>
        <label>Assign to Daron Mills</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Daron_Mills</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Garrett Miencier&apos;s user ID to owner ID variable.</description>
        <name>Assign_to_Garrett_Miencier</name>
        <label>Assign to Garrett Miencier</label>
        <locationX>3746</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Garrett_Miencier</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_John_Haggerty</name>
        <label>Assign to John Haggerty</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.John_Haggerty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Kristin_Shunk</name>
        <label>Assign to Kristin Shunk</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Kristin_Shunk</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Kurt_Silva</name>
        <label>Assign to Kurt Silva</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Kurt_Silva</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Leigh_Ann_Voegler</name>
        <label>Assign to Leigh Ann Voegler</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Leigh_Ann_Voegler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Leigh_For_California</name>
        <label>Assign to Leigh For California</label>
        <locationX>5330</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Leigh_Ann_Voegler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns to custom label for user Mark Ballinger.</description>
        <name>Assign_to_Mark_Ballinger</name>
        <label>Assign to Mark Ballinger</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Mark_Ballinger</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns to custom label for user Michael Trepina.</description>
        <name>Assign_to_Michael_Trepina</name>
        <label>Assign to Michael Trepina</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Michael_Trepina</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Paul_Hader</name>
        <label>Assign to Paul Hader</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Paul_Hader</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Peter_Markavage</name>
        <label>Assign to Peter Markavage</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Peter_Markavage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns to custom label for user Phil Vorndran.</description>
        <name>Assign_to_Phil_Vorndran</name>
        <label>Assign to Phil Vorndran</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Phil_Vorndran</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ryan_Boyle</name>
        <label>Assign to Ryan Boyle</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Ryan_Boyle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Leigh_Ann</name>
        <label>Leigh Ann</label>
        <locationX>5858</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Leigh_Ann_Voegler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Leigh_Ann_0_0</name>
        <label>Leigh Ann</label>
        <locationX>6386</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Leigh_Ann_Voegler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Leigh_Ann_0_0_0</name>
        <label>Leigh Ann</label>
        <locationX>6650</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Leigh_Ann_Voegler</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Omer_Manya</name>
        <label>Omer Manya</label>
        <locationX>5594</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Omer_Manya_Mr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Omer_Manya0</name>
        <label>Omer Manya</label>
        <locationX>6122</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>theOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Omer_Manya_Mr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Accounts_Ownership</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assign_Accounts_by_State_and_County</name>
        <label>Assign Accounts by State and County</label>
        <locationX>3482</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_is_National</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Peter_Markavage</targetReference>
            </connector>
            <label>Segment is National</label>
        </rules>
        <rules>
            <name>State_and_Billing_State_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Leigh_Ann_Voegler</targetReference>
            </connector>
            <label>State and Billing State iBlank Country is US</label>
        </rules>
        <rules>
            <name>State_is_not_Blank_and_not_CA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>California</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>State_For_Beth_Mitchell</targetReference>
            </connector>
            <label>State is not Blank and not CA</label>
        </rules>
        <rules>
            <name>State_Blank_and_BillingState_Not_Blank_and_not_California</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>California</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>State_For_Beth_Mitchell</targetReference>
            </connector>
            <label>State Blank and BillingState Not Blank and not California</label>
        </rules>
        <rules>
            <name>State_Not_Blank_and_CA</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>California</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Assigned_by_County</targetReference>
            </connector>
            <label>State Not Blank and CA</label>
        </rules>
        <rules>
            <name>State_is_blank_and_BillingState_is_not_blank_and_California</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.texcellency__DefHC_State__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>California</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Leigh_For_California</targetReference>
            </connector>
            <label>State is blank and BillingState is not blank and California</label>
        </rules>
        <rules>
            <name>United_Kingdom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Omer_Manya</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Canada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leigh_Ann</targetReference>
            </connector>
            <label>Canada</label>
        </rules>
        <rules>
            <name>Pakistan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pakistan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Omer_Manya0</targetReference>
            </connector>
            <label>Pakistan</label>
        </rules>
        <rules>
            <name>Australia_New_Zealand</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Zealand</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leigh_Ann_0_0</targetReference>
            </connector>
            <label>Australia/New Zealand</label>
        </rules>
        <rules>
            <name>GCC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United Arab Emirates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oman</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qatar</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kuwait</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingCountry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bahrain</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Leigh_Ann_0_0_0</targetReference>
            </connector>
            <label>GCC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Assigned_by_County</name>
        <label>Owner Assigned by County</label>
        <locationX>4802</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Country_for_Kristin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Imperial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Kern</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Los Angeles</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Orange</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Riverside</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - San Bernardino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - San Diego</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - San Luis Obispo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Santa Barbara</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Ventura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_to_Kristin</targetReference>
            </connector>
            <label>Country for Kristin</label>
        </rules>
        <rules>
            <name>Country_for_Kurt</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CA - Alameda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Amador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Butte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Calaveras</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Colusa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Contra Costa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Del Norte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - El Dorado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Fresno</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Glenn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Humboldt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Inyo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Kings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Lake</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Lassen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Marin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Mariposa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Mendocino</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Merced</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Modoc</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Mono</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Monterey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Napa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Nevada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Placer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Plumas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Sacramento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - San Benito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - San Francisco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - San Joaquin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - San Mateo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Santa Clara</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Santa Cruz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Shasta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Siskiyou</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Solano</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Sonoma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Stanislaus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Sutter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Tehama</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Trinity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Tulare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Tuolumne</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Yolo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Yuba</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.DHC_County__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Madera</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_to_silva</targetReference>
            </connector>
            <label>Country for Kurt</label>
        </rules>
    </decisions>
    <decisions>
        <name>State_For_Beth_Mitchell</name>
        <label>State For Beth Mitchell</label>
        <locationX>2294</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Beth_Mitchell_State</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kentucky</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ohio</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Virginia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>West Virginia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Beth_Mitchell</targetReference>
            </connector>
            <label>Beth Mitchell State</label>
        </rules>
        <rules>
            <name>State_for_Brian_Sobocinski</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Iowa</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Minnesota</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nebraska</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North Dakota</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Dakota</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Brian_Sobocinski</targetReference>
            </connector>
            <label>State for Brian Sobocinski</label>
        </rules>
        <rules>
            <name>State_for_Daron_Mills</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ME</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Hampshire</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vermont</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Massachusetts</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rhode Island</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Connecticut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Daron_Mills</targetReference>
            </connector>
            <label>State for Daron Mills</label>
        </rules>
        <rules>
            <name>State_for_John_Haggerty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Florida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_John_Haggerty</targetReference>
            </connector>
            <label>State for John Haggerty</label>
        </rules>
        <rules>
            <name>state_for_Kristin_Shunk</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arizona</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hawaii</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nevada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Mexico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Kansas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oklahoma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missouri</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Arkansas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Louisiana</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mississippi</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Kristin_Shunk</targetReference>
            </connector>
            <label>State for Kristin Shunk</label>
        </rules>
        <rules>
            <name>State_for_Kurt_Silva</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alaska</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Washington</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oregon</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Kurt_Silva</targetReference>
            </connector>
            <label>State for Kurt Silva</label>
        </rules>
        <rules>
            <name>State_for_Paul_Hader</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Texas</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Paul_Hader</targetReference>
            </connector>
            <label>State for Paul Hader</label>
        </rules>
        <rules>
            <name>State_for_Ryan_Boyle</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New York</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Ryan_Boyle</targetReference>
            </connector>
            <label>State for Ryan Boyle</label>
        </rules>
        <rules>
            <name>State_for_Michael_Trepina</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wisconsin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Illinois</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Michael_Trepina</targetReference>
            </connector>
            <label>State for Michael Trepina</label>
        </rules>
        <rules>
            <name>State_for_Phil_Vorndran</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Michigan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indiana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Phil_Vorndran</targetReference>
            </connector>
            <label>State for Phil Vorndran</label>
        </rules>
        <rules>
            <name>State_for_Mark_Ballinger</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tennessee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>North Carolina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>South Carolina</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Georgia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alabama</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Mark_Ballinger</targetReference>
            </connector>
            <label>State for Mark Ballinger</label>
        </rules>
        <rules>
            <name>State_for_Alex_Jaroshevich</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NJ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pennsylvania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Jersey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delaware</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>District of Columbia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maryland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Alex_Jaroshevich</targetReference>
            </connector>
            <label>State for Alex Jaroshevich</label>
        </rules>
        <rules>
            <name>State_for_Garrett_Miencier</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Colorado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Utah</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wyoming</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Idaho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>State</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montana</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Garrett_Miencier</targetReference>
            </connector>
            <label>State for Garrett Miencier</label>
        </rules>
    </decisions>
    <formulas>
        <description>If DHC State is blank, Billing State is used, otherwise DHC State is used.</description>
        <name>State</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.texcellency__DefHC_State__c}), {!$Record.BillingState}, {!$Record.texcellency__DefHC_State__c})</expression>
    </formulas>
    <interviewLabel>Assign Account Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Account Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Accounts_Ownership</name>
        <label>Update Accounts Ownership</label>
        <locationX>3482</locationX>
        <locationY>887</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>theOwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3356</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Accounts_by_State_and_County</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>theOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
