force-app/main/default/flows/Blue_Sheet_Opportunity_Created_or_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assign_BlueSheet_Last_modified_Date</name>
        <label>assign BlueSheet Last modified Date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.blue_sheet_last_modified__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_For_of_systems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Build_Clinical_Mobilizer_Chamipon</name>
        <label>Assign Build_Clinical_Mobilizer_Chamipon</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Build_Clinical_Mobilizer_Chamipon__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Clinical_Champion_ID_d__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Clinical_Mobilizer_Chamipon_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Confirm_Radiology_Support_c</name>
        <label>Assign Confirm_Radiology_Support__c</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <assignmentItems>
            <assignToReference>$Record.Confirm_Radiology_Support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Radiology_buy_in_support__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Confirm_Radiology_Support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Pain_Points_in_Blue_Sheet_SF_false</name>
        <label>Assign Document Pain Points in Blue Sheet / SF false</label>
        <locationX>50</locationX>
        <locationY>4487</locationY>
        <assignmentItems>
            <assignToReference>$Record.Document_Pain_Points_in_Blue_Sheet_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Preliminary_ROI_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Document_Pain_Points_in_Blue_Sheet_SF_true</name>
        <label>Assign Document Pain Points in Blue Sheet / SF true</label>
        <locationX>50</locationX>
        <locationY>4151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Document_Pain_Points_in_Blue_Sheet_SF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Customer_Pain_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Red_Line_T_s_C_s_Review_c</name>
        <label>Assign Legal_Red_Line_T_s_C_s_Review__c</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>$Record.Legal_Red_Line_T_s_C_s_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Redlines_Completed__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Radiology_buy_in_support</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_of_System</name>
        <label>assign # of System</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.of_Systems__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clinical_Mobilizer_Champion_ID_d_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Preliminary_ROI_Review</name>
        <label>Assign Preliminary_ROI_Review</label>
        <locationX>50</locationX>
        <locationY>3815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Preliminary_ROI_Review__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ROI_Reviewed_Approved__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Pain_Point</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Radiology_buy_in_support_c</name>
        <label>Assign Radiology_buy_in_support__c</label>
        <locationX>50</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.Radiology_buy_in_support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Confirm_Radiology_Support__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Preliminary_ROI_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Redlines_Completed</name>
        <label>Assign Redlines Completed</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <assignmentItems>
            <assignToReference>$Record.Redlines_Completed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Legal_Red_Line_T_s_C_s_Review__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Redlines_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ROI_Reviewed_Approved</name>
        <label>Assign ROI_Reviewed_Approved</label>
        <locationX>50</locationX>
        <locationY>3479</locationY>
        <assignmentItems>
            <assignToReference>$Record.ROI_Reviewed_Approved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Preliminary_ROI_Review__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Decision_for_Preliminary_ROI_Review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Units</name>
        <label>assign Units</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.of_Systems__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_For_units</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Clinical_Champion_ID_d1</name>
        <label>Copy 1 of Update Clinical_Champion_ID_d</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>$Record.Clinical_Champion_ID_d__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Build_Clinical_Mobilizer_Chamipon__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_for_Legal_Red_Line_T_s_C_s_Review</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Build_Clinical_Mobilizer_Chamipon_Decision</name>
        <label>Build Clinical Mobilizer/Chamipon  Decision</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Legal_Red_Line_T_s_C_s_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Build_Clinical_Mobilizer_Chamipon__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Build_Clinical_Mobilizer_Chamipon__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clinical_Champion_ID_d__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Build_Clinical_Mobilizer_Chamipon__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Clinical_Champion_ID_d1</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clinical_Mobilizer_Champion_ID_d_Decision</name>
        <label>Clinical Mobilizer/Champion ID’d  Decision</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Build_Clinical_Mobilizer_Chamipon_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinical_Champion_ID_d__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Clinical_Champion_ID_d__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clinical_Champion_ID_d__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Build_Clinical_Mobilizer_Chamipon__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Build_Clinical_Mobilizer_Chamipon</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Customer_Pain_Point</name>
        <label>Customer Pain Point</label>
        <locationX>182</locationX>
        <locationY>4367</locationY>
        <defaultConnector>
            <targetReference>Update_Preliminary_ROI_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ischange_Or_ISNull_true</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 AND 7 AND 8 AND 9 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_Pain_Points_in_Blue_Sheet_SF_false</targetReference>
            </connector>
            <label>Ischange Or ISNull true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Decision_for_Preliminary_ROI_Review</name>
        <label>Decision for Preliminary ROI Review</label>
        <locationX>182</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Customer_Pain_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ROI_Reviewed_Approved__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ROI_Analysis_Completed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preliminary_ROI_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ROI_Reviewed_Approved__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Preliminary_ROI_Review</targetReference>
            </connector>
            <label>Copy 1 of True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Pain_Point</name>
        <label>Customer Pain Point</label>
        <locationX>182</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Customer_Pain_Point</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ischange_Or_ISNull_false</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND (6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Document_Pain_Points_in_Blue_Sheet_SF_true</targetReference>
            </connector>
            <label>Ischange Or ISNull false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_blue_sheet_last_modified</name>
        <label>Decision for blue sheet last modified</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_For_of_systems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.of_Systems__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.of_Systems__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Process_Step__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Sales_Process_Step__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.StageName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submitted__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Submitted__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approved__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Approved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Approval_Local_Regional_National__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.PO_Approval_Local_Regional_National__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Smart_Goal_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Smart_Goal_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Smart_Goal_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Smart_Goal_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Smart_Goal_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Smart_Goal_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Smart_Goal_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Smart_Goal_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Smart_Goal_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Smart_Goal_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_6__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_6__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_7__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_7__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_8__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_8__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_9__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_9__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_10__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_10__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_11__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_11__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Use_Case_Location_12__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Use_Case_Location_12__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_6__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_6__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_7__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_7__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_8__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_8__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_9__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_9__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_10__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_10__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_11__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_11__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Probelm_We_re_Solving_12__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Probelm_We_re_Solving_12__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clinical_Champion_ID_d__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Clinical_Champion_ID_d__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clinical_Champion_ID_d_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Clinical_Champion_ID_d_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Champion_ID_d__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Secondary_Champion_ID_d__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Secondary_Champion_ID_d_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Secondary_Champion_ID_d_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Needs_ID_d__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Needs_ID_d__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Needs_ID_d_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Needs_ID_d_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Swoop_Solution_Presented__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Swoop_Solution_Presented__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Swoop_Solution_Presented_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Swoop_Solution_Presented_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Executive_Level_Champion_ID_d__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Executive_Level_Champion_ID_d__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Executive_Level_Champion_ID_d_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Executive_Level_Champion_ID_d_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ROI_Reviewed_Approved__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ROI_Reviewed_Approved__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ROI_Reviewed_Approved_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ROI_Reviewed_Approved_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IT_Engaged__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IT_Engaged__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IT_Engaged_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IT_Engaged_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QC_Audit_paper_on_site_Complete__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.QC_Audit_paper_on_site_Complete__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QC_Audit_paper_on_site_Complete_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.QC_Audit_paper_on_site_Complete_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Red_Line_T_s_C_s_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Legal_Red_Line_T_s_C_s_Review__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Red_Line_T_s_C_s_Review_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Legal_Red_Line_T_s_C_s_Review_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timeline_Agreed_To__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Timeline_Agreed_To__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Timeline_Agreed_To_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Timeline_Agreed_To_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Radiology_buy_in_support__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Radiology_buy_in_support__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Radiology_buy_in_support_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Radiology_buy_in_support_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Success_Engaged__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Success_Engaged__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Success_Engaged_Notes__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Success_Engaged_Notes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Risks_Challenges_to_Deal_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Risks_Challenges_to_Deal_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Risks_Challenges_to_Deal_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Risks_Challenges_to_Deal_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Risks_Challenges_to_Deal_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Risks_Challenges_to_Deal_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Risks_Challenges_to_Deal_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Risks_Challenges_to_Deal_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Risks_Challenges_to_Deal_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Risks_Challenges_to_Deal_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Amount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Rip__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Deal_Rip__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Pain_Point_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_Pain_Point_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_Text_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_Text_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_Text_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_Text_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_Text_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_Text_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_Text_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_Text_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Requested_Ship_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Requested_Ship_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_for_Success_1__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_for_Success_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_for_Success_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_for_Success_2__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_for_Success_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_for_Success_3__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_for_Success_4__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_for_Success_4__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Key_Information_for_Success_5__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Key_Information_for_Success_5__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Segment_Text__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Market_Segment_Text__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Why_are_they_acquiring_Swoop__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Why_are_they_acquiring_Swoop__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_BlueSheet_Last_modified_Date</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Confirm_Radiology_Support</name>
        <label>Decision for Confirm Radiology Support</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Preliminary_ROI_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Confirm_Radiology_Support__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Confirm_Radiology_Support__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Radiology_buy_in_support__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Confirm_Radiology_Support__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Radiology_buy_in_support_c</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Legal_Red_Line_T_s_C_s_Review</name>
        <label>Decision for Legal Red Line / T&apos;s &amp; C&apos;s Review</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Redlines_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Red_Line_T_s_C_s_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Legal_Red_Line_T_s_C_s_Review__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Red_Line_T_s_C_s_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Redlines_Completed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Redlines_Completed</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_of_systems</name>
        <label>Decision For # of systems</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Decision_For_units</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.of_Systems__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.of_Systems__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Systems__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Units__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Units</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Preliminary_ROI_Review</name>
        <label>Decision for Preliminary ROI Review</label>
        <locationX>182</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Decision_for_Preliminary_ROI_Review</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preliminary_ROI_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Preliminary_ROI_Review__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Preliminary_ROI_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ROI_Reviewed_Approved__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ROI_Reviewed_Approved</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Radiology_buy_in_support</name>
        <label>Decision for Radiology buy in/support</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Confirm_Radiology_Support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Radiology_buy_in_support__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Radiology_buy_in_support__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Radiology_buy_in_support__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Confirm_Radiology_Support__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Confirm_Radiology_Support_c</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_for_Redlines_Completed</name>
        <label>Decision for Redlines Completed</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Radiology_buy_in_support</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Redlines_Completed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Redlines_Completed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Legal_Red_Line_T_s_C_s_Review__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Redlines_Completed__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Legal_Red_Line_T_s_C_s_Review_c</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_units</name>
        <label>Decision For units</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Clinical_Mobilizer_Champion_ID_d_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Units__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Units__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.of_Systems__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Units__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_of_System</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Blue Sheet Opportunity Created or Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Blue Sheet Opportunity Created or Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Preliminary_ROI_Review</name>
        <label>Update Preliminary_ROI_Review</label>
        <locationX>182</locationX>
        <locationY>4703</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_for_blue_sheet_last_modified</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
