force-app/main/default/flows/Case_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_TAC_Hyperfine</name>
        <label>Email TAC Hyperfine</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <actionName>Case.New_Web_Evaluation_Application_Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reporting_Contact_Email_Address_is_filled_in</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Web_Evaluation_Application_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends an automatic email to the email address in the Web Email field on the Case upon Case creation.</description>
        <name>Send_Case_created_confirmation</name>
        <label>Send Case created confirmation</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>Case.Application_Web_Evaluation_Case_created_confirmation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Task_for_Outgoing_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Application_Web_Evaluation_Case_created_confirmation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_Case_Origin</name>
        <label>Check Case Origin</label>
        <locationX>468</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Related_Account_is_updated_and_Clinical_Application_Specialist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Web, Application, Evaluation</defaultConnectorLabel>
        <rules>
            <name>Web_Application_or_Evaluation</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_record</targetReference>
            </connector>
            <label>Web, Application, or Evaluation</label>
        </rules>
        <rules>
            <name>Case_is_New_and_Origin_Not_Web_Application_Evaluation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Evaluation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner_0</targetReference>
            </connector>
            <label>Case is New and Origin Not Web, Application, Evaluation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks to see if related Account is changed and if the new Account has a value in Clinical Application Specialist field.</description>
        <name>Related_Account_is_updated_and_Clinical_Application_Specialist</name>
        <label>Related Account is updated and Clinical Application Specialist</label>
        <locationX>468</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Related_Account_is_updated_and_Clinical_Scientist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_updated_with_Clinical_Application_Specialist_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CSS_Secondary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_user_lookup_fields_on_Case_from_Account</targetReference>
            </connector>
            <label>Account is updated with Clinical Application Specialist value</label>
        </rules>
        <rules>
            <name>Account_is_updated_no_Clinical_Application_Specialist_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CSS_Secondary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_out_Clinical_Application_Specialist_on_Case</targetReference>
            </connector>
            <label>Account is updated no Clinical Application Specialist value</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks to see if related Account is changed and if the new Account has a value in Clinical Scientist field.</description>
        <name>Related_Account_is_updated_and_Clinical_Scientist</name>
        <label>Related Account is updated and Clinical Scientist</label>
        <locationX>468</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Related_Account_is_updated_and_Customer_Success_Specailist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_updated_with_Clinical_Scientist_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Clinical_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Account_s_Clinical_Scientist</targetReference>
            </connector>
            <label>Account is updated with Clinical Scientist value</label>
        </rules>
        <rules>
            <name>Account_is_updated_no_Clinical_Scientist_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Clinical_Scientist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_out_Case_s_Clinical_Scientist_field</targetReference>
            </connector>
            <label>Account is updated no Clinical Scientist value</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks to see if related Account is changed and if the new Account has a value in Customer Success Specialist field.</description>
        <name>Related_Account_is_updated_and_Customer_Success_Specailist</name>
        <label>Related Account is updated and Customer Success Specialist</label>
        <locationX>468</locationX>
        <locationY>1919</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_is_updated_with_Customer_Success_Specialist_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CSS_Primary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_Customer_Success_Specialist</targetReference>
            </connector>
            <label>Account is updated with Customer Success Specialist value</label>
        </rules>
        <rules>
            <name>Account_is_updated_no_Customer_Success_Specialist_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.CSS_Primary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_out_Customer_Success_Specialist</targetReference>
            </connector>
            <label>Account is updated no Customer Success Specialist value</label>
        </rules>
    </decisions>
    <decisions>
        <description>Looks to see if the Reporting&apos;s Contact Email Address field is filled in so as to avoid erroring out if there is no email address to send Case created email to.</description>
        <name>Reporting_Contact_Email_Address_is_filled_in</name>
        <label>Reporting Contact Email Address is filled in</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Related_Account_is_updated_and_Clinical_Application_Specialist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Email_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reporting_s_Contact_Email_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Case_created_confirmation</targetReference>
            </connector>
            <label>Has Email Address</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510)) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <description>Sets Due Date of Task created for outgoing email to today.</description>
        <name>DueDateToday</name>
        <dataType>Date</dataType>
        <expression>Today ()</expression>
    </formulas>
    <formulas>
        <description>To see if the Case is being created or if it is an existing Case being updated.</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Task that records the outgoing email to the Reporting Contact&apos;s Email Address for the Case.</description>
        <name>Create_Task_for_Outgoing_Email</name>
        <label>Create Task for Outgoing Email</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Related_Account_is_updated_and_Clinical_Application_Specialist</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Add_Account_s_Clinical_Scientist</name>
        <label>Add Account&apos;s Clinical Scientist</label>
        <locationX>204</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Related_Account_is_updated_and_Customer_Success_Specailist</targetReference>
        </connector>
        <inputAssignments>
            <field>Clinical_Scientist__c</field>
            <value>
                <elementReference>$Record.Account.Clinical_Scientist__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blank_out_Case_s_Clinical_Scientist_field</name>
        <label>Blank out Case&apos;s Clinical Scientist field</label>
        <locationX>468</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Related_Account_is_updated_and_Customer_Success_Specailist</targetReference>
        </connector>
        <inputAssignments>
            <field>Clinical_Scientist__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blank_out_Clinical_Application_Specialist_on_Case</name>
        <label>Blank out Clinical Application Specialist on Case</label>
        <locationX>468</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Related_Account_is_updated_and_Clinical_Scientist</targetReference>
        </connector>
        <inputAssignments>
            <field>Clinical_Application_Specialist__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blank_out_Customer_Success_Specialist</name>
        <label>Blank out Customer Success Specialist</label>
        <locationX>468</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>Customer_Success_Specialist__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Owner_0</name>
        <label>Update Case Owner</label>
        <locationX>490</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Related_Account_is_updated_and_Clinical_Application_Specialist</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_record</name>
        <label>Update Case record</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Email_TAC_Hyperfine</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.TAC_Hyperfine_User_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_with_Customer_Success_Specialist</name>
        <label>Update Case with Customer Success Specialist</label>
        <locationX>204</locationX>
        <locationY>2039</locationY>
        <inputAssignments>
            <field>Customer_Success_Specialist__c</field>
            <value>
                <elementReference>$Record.Account.CSS_Primary__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Maps values from new Account for user lookup fields to same fields on Case.</description>
        <name>Update_user_lookup_fields_on_Case_from_Account</name>
        <label>Update user lookup fields on Case from Account</label>
        <locationX>204</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Related_Account_is_updated_and_Clinical_Scientist</targetReference>
        </connector>
        <inputAssignments>
            <field>Clinical_Application_Specialist__c</field>
            <value>
                <elementReference>$Record.Account.CSS_Secondary__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Origin</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Body of text for Task of email sent out regarding a Web, Application, or Evaluation Case being received.</description>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Sent to: {!$Record.Reporting_s_Contact_Email_Address__c}
Hello,
We have received your correspondence. Case number {!$Record.CaseNumber} has been created for it. You will receive an email from support@hyperfine.io addressing the issue shortly.
Thank you,
The Hyperfine Team</text>
    </textTemplates>
    <textTemplates>
        <description>Is the subject of the email that goes out regarding a Web, Application, or Evaluation Case being received.</description>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Case has been received</text>
    </textTemplates>
    <textTemplates>
        <name>NewCaseEmail</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A new case has been assigned to the Support Queue. You can view the case here: {!CaseURL}</text>
    </textTemplates>
</Flow>
