force-app/main/default/flows/N_A_Closed_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Exam_Setup_on_Tablet_Assign</name>
        <label>Exam Setup on Tablet Assign</label>
        <locationX>1011</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Exam_Setup_on_Tablet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_of_Exam_on_Tablet1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exam_Setup_on_Tablet_Assign_0</name>
        <label>Image Quality of Scans Assign</label>
        <locationX>1020</locationX>
        <locationY>3243</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Image_Quality_of_Scans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_of_Exam_on_Tablet1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exam_Setup_on_Tablet_Assign_0_0</name>
        <label>Usability of Tablet Assign</label>
        <locationX>1022</locationX>
        <locationY>3802</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Usability_of_Tablet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exam_Setup_on_Tablet_Assign_0_0_0</name>
        <label>Adjustment to send scans Assign</label>
        <locationX>1028</locationX>
        <locationY>4388</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Adjustment_to_send_scans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Exam_Setup_on_Tablet_Assign_0_0_0_0</name>
        <label>Subject Assign</label>
        <locationX>1033</locationX>
        <locationY>5037</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign</name>
        <label>Jira/Github Assign</label>
        <locationX>966</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.JIRA_Github__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0</name>
        <label>Customer tracking number Assign</label>
        <locationX>976</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Tracking_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0</name>
        <label>Role Assign</label>
        <locationX>974</locationX>
        <locationY>978</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0_0</name>
        <label>Sequence Assign</label>
        <locationX>984</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0_0_0</name>
        <label>Location Assign</label>
        <locationX>990</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0_0_0_0</name>
        <label>Transportation Assign</label>
        <locationX>1000</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Transportation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0_0_0_0_0</name>
        <label>Patient Loading Assign</label>
        <locationX>998</locationX>
        <locationY>1717</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Patient_Loading__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0_0_0_0_0_0</name>
        <label>Evaluation Feedback Type Assign</label>
        <locationX>995</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Evaluation_Feedback_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0_0_0_0_0_0_0</name>
        <label>Performance Assign</label>
        <locationX>1005</locationX>
        <locationY>2092</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Performance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Jira_Github1_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Jira_Github_Assign_0_0_0_0_0_0_0_0_0</name>
        <label>Clinical Indication Assign</label>
        <locationX>1008</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Clinical_Indication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usability1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign</name>
        <label>Performance of Exam on Tablet Assign</label>
        <locationX>1009</locationX>
        <locationY>2833</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Performance_of_Exam_on_Tablet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usability1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0</name>
        <label>Image Quality Assign</label>
        <locationX>1017</locationX>
        <locationY>3423</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Image_Quality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usability1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0_0</name>
        <label>Adjustment Zoom/pan Assign</label>
        <locationX>1019</locationX>
        <locationY>3982</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Adjustment_Zoom_pan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Usability1_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0_0_0</name>
        <label>Ability to compare scans Assign</label>
        <locationX>1024</locationX>
        <locationY>4568</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Ability_to_compare_scans__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluation_FeedbackDec_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0_0_0_0</name>
        <label>Evaluation Feedback Assign</label>
        <locationX>1031</locationX>
        <locationY>4844</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Evaluation_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exam_Setup_on_Tablet1_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0</name>
        <label>Description Assign</label>
        <locationX>1029</locationX>
        <locationY>5217</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluation_FeedbackDec_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0_0</name>
        <label>Company Assign</label>
        <locationX>1036</locationX>
        <locationY>5493</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.SuppliedCompany</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0_0_0</name>
        <label>Phone Assign</label>
        <locationX>1034</locationX>
        <locationY>5856</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.SuppliedPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluation_FeedbackDec_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0_0_0_0</name>
        <label>Name Assign</label>
        <locationX>1041</locationX>
        <locationY>6132</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.SuppliedName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Usability_Assign</name>
        <label>Usability Assign</label>
        <locationX>1001</locationX>
        <locationY>2457</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Usability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exam_Setup_on_Tablet1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Usability_Assign_0</name>
        <label>Ability to open images Assign</label>
        <locationX>1010</locationX>
        <locationY>3046</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Ability_to_open_images__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exam_Setup_on_Tablet1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Usability_Assign_0_0</name>
        <label>Ability to view on Tablet Assign</label>
        <locationX>1012</locationX>
        <locationY>3605</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Ability_to_view_on_Tablet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exam_Setup_on_Tablet1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Usability_Assign_0_0_0</name>
        <label>Ability to scroll slices Assign</label>
        <locationX>1017</locationX>
        <locationY>4192</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Fields.Ability_to_scroll_slices__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exam_Setup_on_Tablet1_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Evaluation_FeedbackDec_0</name>
        <label>Evaluation Feedback</label>
        <locationX>860</locationX>
        <locationY>4698</locationY>
        <defaultConnector>
            <targetReference>Exam_Setup_on_Tablet1_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Evaluation_Feedback__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0_0_0_0</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluation_FeedbackDec_0_0</name>
        <label>Company</label>
        <locationX>865</locationX>
        <locationY>5347</locationY>
        <defaultConnector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.SuppliedCompany</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluation_FeedbackDec_0_0_0</name>
        <label>Name</label>
        <locationX>870</locationX>
        <locationY>5986</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.SuppliedName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Setup_on_Tablet1</name>
        <label>Exam Setup on Tablet</label>
        <locationX>843</locationX>
        <locationY>2555</locationY>
        <defaultConnector>
            <targetReference>Performance_of_Exam_on_Tablet1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blank2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Exam_Setup_on_Tablet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Setup_on_Tablet_Assign</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Setup_on_Tablet1_0</name>
        <label>Image Quality of Scans</label>
        <locationX>852</locationX>
        <locationY>3144</locationY>
        <defaultConnector>
            <targetReference>Performance_of_Exam_on_Tablet1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blank2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Image_Quality_of_Scans__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Setup_on_Tablet_Assign_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Setup_on_Tablet1_0_0</name>
        <label>Usability of Tablet</label>
        <locationX>854</locationX>
        <locationY>3703</locationY>
        <defaultConnector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blank2_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Usability_of_Tablet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Setup_on_Tablet_Assign_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Setup_on_Tablet1_0_0_0</name>
        <label>Adjustment to send scans</label>
        <locationX>860</locationX>
        <locationY>4289</locationY>
        <defaultConnector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blank2_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Adjustment_to_send_scans__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Setup_on_Tablet_Assign_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exam_Setup_on_Tablet1_0_0_0_0</name>
        <label>Subject</label>
        <locationX>865</locationX>
        <locationY>4938</locationY>
        <defaultConnector>
            <targetReference>Performance_of_Exam_on_Tablet1_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blank2_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exam_Setup_on_Tablet_Assign_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1</name>
        <label>Jira/Github</label>
        <locationX>807</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.JIRA_Github__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0</name>
        <label>Customer tracking number</label>
        <locationX>810</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Tracking_number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0</name>
        <label>Role</label>
        <locationX>815</locationX>
        <locationY>898</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Role__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0_0</name>
        <label>Sequence</label>
        <locationX>818</locationX>
        <locationY>1076</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Sequence__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0_0_0</name>
        <label>Location</label>
        <locationX>831</locationX>
        <locationY>1261</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Location__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0_0_0_0</name>
        <label>Transportation</label>
        <locationX>834</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Transportation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0_0_0_0_0</name>
        <label>Patient Loading</label>
        <locationX>839</locationX>
        <locationY>1637</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Patient_Loading__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0_0_0_0_0_0</name>
        <label>Evaluation Feedback Type</label>
        <locationX>836</locationX>
        <locationY>1815</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Evaluation_Feedback_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0_0_0_0_0_0_0</name>
        <label>Performance</label>
        <locationX>837</locationX>
        <locationY>1993</locationY>
        <defaultConnector>
            <targetReference>Jira_Github1_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Performance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Jira_Github1_0_0_0_0_0_0_0_0_0</name>
        <label>Clinical Indication</label>
        <locationX>844</locationX>
        <locationY>2191</locationY>
        <defaultConnector>
            <targetReference>Usability1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Clinical_Indication__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Jira_Github_Assign_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_of_Exam_on_Tablet1</name>
        <label>Performance of Exam on Tablet</label>
        <locationX>850</locationX>
        <locationY>2753</locationY>
        <defaultConnector>
            <targetReference>Usability1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Performance_of_Exam_on_Tablet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_of_Exam_on_Tablet1_0</name>
        <label>Image Quality</label>
        <locationX>859</locationX>
        <locationY>3342</locationY>
        <defaultConnector>
            <targetReference>Usability1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Image_Quality__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_of_Exam_on_Tablet1_0_0</name>
        <label>Adjustment Zoom/pan</label>
        <locationX>861</locationX>
        <locationY>3901</locationY>
        <defaultConnector>
            <targetReference>Usability1_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank3_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Adjustment_Zoom_pan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_of_Exam_on_Tablet1_0_0_0</name>
        <label>Ability to compare scans</label>
        <locationX>867</locationX>
        <locationY>4487</locationY>
        <defaultConnector>
            <targetReference>Evaluation_FeedbackDec_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank3_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Ability_to_compare_scans__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_of_Exam_on_Tablet1_0_0_0_0</name>
        <label>Description</label>
        <locationX>872</locationX>
        <locationY>5136</locationY>
        <defaultConnector>
            <targetReference>Evaluation_FeedbackDec_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank3_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Description</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Performance_of_Exam_on_Tablet1_0_0_0_0_0</name>
        <label>Phone</label>
        <locationX>877</locationX>
        <locationY>5775</locationY>
        <defaultConnector>
            <targetReference>Evaluation_FeedbackDec_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank3_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.SuppliedPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Performance_of_Exam_on_Tablet_Assign_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usability1</name>
        <label>Usability</label>
        <locationX>842</locationX>
        <locationY>2376</locationY>
        <defaultConnector>
            <targetReference>Exam_Setup_on_Tablet1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Usability__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usability_Assign</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usability1_0</name>
        <label>Ability to open images</label>
        <locationX>851</locationX>
        <locationY>2965</locationY>
        <defaultConnector>
            <targetReference>Exam_Setup_on_Tablet1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Ability_to_open_images__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usability_Assign_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usability1_0_0</name>
        <label>Ability to view on Tablet</label>
        <locationX>853</locationX>
        <locationY>3524</locationY>
        <defaultConnector>
            <targetReference>Exam_Setup_on_Tablet1_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Ability_to_view_on_Tablet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usability_Assign_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usability1_0_0_0</name>
        <label>Ability to scroll slices</label>
        <locationX>859</locationX>
        <locationY>4110</locationY>
        <defaultConnector>
            <targetReference>Exam_Setup_on_Tablet1_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Fields.Ability_to_scroll_slices__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Usability_Assign_0_0_0</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <interviewLabel>N/A Closed Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>N/A Closed Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Fields</name>
        <label>Get Case Fields</label>
        <locationX>817</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Jira_Github1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>JIRA_Github__c</queriedFields>
        <queriedFields>Tracking_number__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Sequence__c</queriedFields>
        <queriedFields>Location__c</queriedFields>
        <queriedFields>Transportation__c</queriedFields>
        <queriedFields>Patient_Loading__c</queriedFields>
        <queriedFields>Evaluation_Feedback_Type__c</queriedFields>
        <queriedFields>Performance__c</queriedFields>
        <queriedFields>Clinical_Indication__c</queriedFields>
        <queriedFields>Usability__c</queriedFields>
        <queriedFields>Exam_Setup_on_Tablet__c</queriedFields>
        <queriedFields>Performance_of_Exam_on_Tablet__c</queriedFields>
        <queriedFields>Ability_to_open_images__c</queriedFields>
        <queriedFields>Image_Quality_of_Scans__c</queriedFields>
        <queriedFields>Image_Quality__c</queriedFields>
        <queriedFields>Ability_to_view_on_Tablet__c</queriedFields>
        <queriedFields>Adjustment_window_level__c</queriedFields>
        <queriedFields>Usability_of_Tablet__c</queriedFields>
        <queriedFields>Adjustment_Zoom_pan__c</queriedFields>
        <queriedFields>Ability_to_scroll_slices__c</queriedFields>
        <queriedFields>Adjustment_to_send_scans__c</queriedFields>
        <queriedFields>Ability_to_compare_scans__c</queriedFields>
        <queriedFields>Evaluation_Feedback__c</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>SuppliedCompany</queriedFields>
        <queriedFields>SuppliedEmail</queriedFields>
        <queriedFields>SuppliedPhone</queriedFields>
        <queriedFields>SuppliedName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>903</locationX>
        <locationY>6268</locationY>
        <inputReference>Get_Case_Fields</inputReference>
    </recordUpdates>
    <start>
        <locationX>691</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Fields</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
