force-app/main/default/flows/Opportunity_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sends email alert to Opportunity owner when an Opportunity related to an Account with multiple open opps has entered the approval process.</description>
        <name>Email_Opp_Owner</name>
        <label>Email Opp Owner</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Opportunity.Multiple_Opportunity_enters_approval_process</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Multiple_Opps_approval_status_to_Pending</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Multiple_Opportunity_enters_approval_process</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Emails the Owner of the Opportunity when a Health Systems Opportunity enters the approval process.</description>
        <name>Email_Opp_Owner_for_Health_Systems_Opp</name>
        <label>Email Opp Owner for Health Systems Opp</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>Opportunity.Health_Systems_Opportunity_enters_approval_process</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Health_Systems_Approval_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Health_Systems_Opportunity_enters_approval_process</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Enter_approval_process</name>
        <label>Enter approval process</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Has_Opp_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_Opp_into_approval_process</name>
        <label>Submit Opp into approval process</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Has_Opp_Owner_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>QueueName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer_Success_Implementations</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Opp_Owner</name>
        <label>Has Opp Owner</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opp_Owner_for_Health_Systems_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opp_Owner_0</name>
        <label>Has Opp Owner</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Opp_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Health_Systems_Opp_is_created</name>
        <label>Health Systems Opp is created</label>
        <locationX>908</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Health_Systems_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Institution_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Health System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_approval_process</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Enters Opportunity into approval process if there are multiple open opportunities on the related Account.</description>
        <name>Multiple_open_Opps_on_Account</name>
        <label>Multiple open Opps on Account</label>
        <locationX>545</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Health_Systems_Opp_is_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_other_open_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Number_of_Open_Opportunities__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Multiple_Open_Opps_Approval_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_Opp_into_approval_process</targetReference>
            </connector>
            <label>Has other open opps</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Changes the Multiple Opps Approval Status to Pending</description>
        <name>Multiple_Opps_approval_status_to_Pending</name>
        <label>Multiple Opps approval status to Pending</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Multiple_Open_Opps_Approval_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets Health Systems Approval Status on Opp to Pending</description>
        <name>Update_Health_Systems_Approval_Status</name>
        <label>Update Health Systems Approval Status</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Health_Systems_Approval_Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Multiple_open_Opps_on_Account</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
