force-app/main/default/flows/Populate_Case_fields_and_Contact_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Populate Case fields and Contact Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Case Contacts fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Records_Matched_With_Email_Address</name>
        <label>Get Contact Records Matched With Email Address</label>
        <locationX>177</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Contacts_Field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Contacts_Field</name>
        <label>Update Case Contacts Field</label>
        <locationX>460</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Records_Matched_With_Email_Address.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact_Office_Phone_number__c</field>
            <value>
                <elementReference>Get_Contact_Records_Matched_With_Email_Address.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Contact_Name_First__c</field>
            <value>
                <elementReference>Get_Contact_Records_Matched_With_Email_Address.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Contact_Name_Last__c</field>
            <value>
                <elementReference>Get_Contact_Records_Matched_With_Email_Address.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_Contact_s_Mobile_Number__c</field>
            <value>
                <elementReference>Get_Contact_Records_Matched_With_Email_Address.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reporting_s_Contact_Email_Address__c</field>
            <value>
                <elementReference>Get_Contact_Records_Matched_With_Email_Address.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Contact_Records_Matched_With_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
