force-app/main/default/flows/Roll_up_Deployed_Status_from_Asset_to_Account_on_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_one</name>
        <label>Add one</label>
        <locationX>798</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>DeployedAssetCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_one_0</name>
        <label>Minus one</label>
        <locationX>871</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>DeployedAssetCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Deployed_Assets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deployed_Asset_Deleted</name>
        <label>Deployed Asset Deleted</label>
        <locationX>582</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>Get_Deployed_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deployed_asset</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Deployed_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Deployed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_one_0</targetReference>
            </connector>
            <label>Deployed asset</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Roll up Deployed Status from Asset to Account on Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll up Deployed Status from Asset to Account on Delete</label>
    <loops>
        <name>Count_Assets</name>
        <label>Count Assets</label>
        <locationX>585</locationX>
        <locationY>757</locationY>
        <collectionReference>Get_Deployed_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_one</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Deployed_Assets</name>
        <label>Get Deployed Assets</label>
        <locationX>585</locationX>
        <locationY>596</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deployed_status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Deployed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>585</locationX>
        <locationY>952</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Active_Units__c</field>
            <value>
                <elementReference>DeployedAssetCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>463</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Deployed_Asset_Deleted</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DeployedAssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
