force-app/main/default/flows/Shipping_Authorization_Request_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_Email_to_Opp_Owner_and_Brian_Sobocinski</name>
        <label>Approval Email to Opp Owner and Brian Sobocinski</label>
        <locationX>578</locationX>
        <locationY>791</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SARApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>bsobocinski@hyperfine.io,{!$Record.Opportunity__r.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipping Authorization Request approved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Approval_Email_to_Opp_Owner_and_Jason_Arnold</name>
        <label>Approval Email to Opp Owner and Jason Arnold</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SARApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jarnold@hyperfine.io,{!$Record.Opportunity__r.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipping Authorization Request approved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Approval_Email_to_Opp_Owner_and_Kristin_Shunk</name>
        <label>Approval Email to Opp Owner and Kristin Shunk</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SARApproved</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kshunk@hyperfine.io,{!$Record.Opportunity__r.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipping Authorization Request approved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Rejected_Email_to_Opp_Owner_and_Brian_Sobocinski</name>
        <label>Rejected Email to Opp Owner and Brian Sobocinski</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SARRejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>bsobocinski@hyperfine.io,{!$Record.Opportunity__r.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipping Authorization Request rejected</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Rejected_Email_to_Opp_Owner_and_Jason_Arnold</name>
        <label>Rejected Email to Opp Owner and Jason Arnold</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SARRejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jarnold@hyperfine.io,{!$Record.Opportunity__r.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipping Authorization Request rejected</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Rejected_Email_to_Opp_Owner_and_Kristin_Shunk</name>
        <label>Rejected Email to Opp Owner and Kristin Shunk</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SARRejected</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>kshunk@hyperfine.io,{!$Record.Opportunity__r.Owner.Email}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Shipping Authorization Request rejected</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>isChange_Desired_Delivery_Date</name>
        <label>isChange Desired Delivery Date</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Status_Approved_and_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isChange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Desired_Delivery_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Desired_Delivery_Date__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desired_Delivery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Delivery_Date_on_Implementation</targetReference>
            </connector>
            <label>isChange</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Approved_and_Region</name>
        <label>Status Approved and Region</label>
        <locationX>644</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Status_Rejected_and_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_and_Region_West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>West</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Email_to_Opp_Owner_and_Kristin_Shunk</targetReference>
            </connector>
            <label>Approved and Region West</label>
        </rules>
        <rules>
            <name>Approved_and_Region_East</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>East</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Email_to_Opp_Owner_and_Jason_Arnold</targetReference>
            </connector>
            <label>Approved and Region East</label>
        </rules>
        <rules>
            <name>Approved_and_Region_Central</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Email_to_Opp_Owner_and_Brian_Sobocinski</targetReference>
            </connector>
            <label>Approved and Region Central</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Rejected_and_Region</name>
        <label>Status Rejected and Region</label>
        <locationX>1238</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Rejected_and_Region_West</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>West</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Email_to_Opp_Owner_and_Kristin_Shunk</targetReference>
            </connector>
            <label>Rejected and Region West</label>
        </rules>
        <rules>
            <name>Rejected_and_Region_East</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>East</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Email_to_Opp_Owner_and_Jason_Arnold</targetReference>
            </connector>
            <label>Rejected and Region East</label>
        </rules>
        <rules>
            <name>Rejected_and_Region_Central</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.Account.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Central</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejected_Email_to_Opp_Owner_and_Brian_Sobocinski</targetReference>
            </connector>
            <label>Rejected and Region Central</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Shipping Authorization Request created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shipping Authorization Request created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Delivery_Date_on_Implementation</name>
        <label>Update Delivery Date on Implementation</label>
        <locationX>512</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Status_Approved_and_Region</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Date__c</field>
            <value>
                <elementReference>$Record.Desired_Delivery_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Implementation__c</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isChange_Desired_Delivery_Date</targetReference>
        </connector>
        <object>Shipping_Authorization_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Body of email sent when SAR Status changes to Approved</description>
        <name>SARApproved</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Shipping Authorization Request for {!$Record.Opportunity__r.Name} has been approved.</text>
    </textTemplates>
    <textTemplates>
        <description>Body of email sent when SAR Status changes to Approved</description>
        <name>SARRejected</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Shipping Authorization Request for {!$Record.Opportunity__r.Name} has been rejected.</text>
    </textTemplates>
</Flow>
