force-app/main/default/flows/update_Date_RA_QA_reviewed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_prior_value</name>
        <label>Check prior value</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RA_QA_Reviewed_By__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.RA_QA_Reviewed_By__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Date_RA_QA_reviewed</targetReference>
            </connector>
            <label>record values</label>
        </rules>
    </decisions>
    <interviewLabel>update Date RA/QA reviewed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update Date RA/QA reviewed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Date_RA_QA_reviewed</name>
        <label>update Date RA/QA reviewed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Date_RA_QA_reviewed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_prior_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RA_QA_Reviewed_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
