force-app/main/default/flows/Update_Field_Service_Visit_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>If_Record_Exist</name>
        <label>If Record Exist</label>
        <locationX>775</locationX>
        <locationY>319</locationY>
        <assignmentItems>
            <assignToReference>ExistSoAutoIncrement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Visit_AutoNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Field_Service_visit_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>If_record_Not_Exists</name>
        <label>If record Not Exists</label>
        <locationX>450</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>ExistSoAutoIncrement</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Visit_AutoNumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Field_Service_visit_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Record_Existing</name>
        <label>Is Record Existing ?</label>
        <locationX>453</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>If_record_Not_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Visit_AutoNumber__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Visit_AutoNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Record_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>ServiceStartDate</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Record.Service_Date_Start__c}))+ &quot;-&quot; + TEXT(DAY({!$Record.Service_Date_Start__c}))+ &quot;-&quot; + TEXT(YEAR({!$Record.Service_Date_Start__c}))</expression>
    </formulas>
    <interviewLabel>Update Field Service Visit Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Field Service Visit Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_Field_Service</name>
        <label>Get Existing Field Service</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Date_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Field_Service_Visit__c</object>
        <outputAssignments>
            <assignToReference>VisitVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Visit_AutoNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Field_Service_visit_Name</name>
        <label>Update Field Service visit Name</label>
        <locationX>777</locationX>
        <locationY>546</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!ExistSoAutoIncrement}  -  {!ServiceStartDate}</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Existing_Field_Service</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Date_Start__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Field_Service_Visit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ExistSoAutoIncrement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotExistSoStartWith0</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VisitVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
